.game {
  background-color: grey;
  width: 500px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}
.car {
  z-index: 1;
  width: 90px;
  position: absolute;
  bottom: 5px;
  left: 205px;
  border-radius: 30px;
  transition: 0.5s;
}
